// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.grey {
  background-color: rgb(224, 224, 224);
}

.td-none {
  text-decoration: none;
  display: inline-block;
}

.blue {
  color: #0275d8;
}

.small-text {
  font-size: 12px;
}

.margin-top {
  margin-top: 16px;
}
